alabaster==0.7.12
altair==4.1.0
appdirs==1.4.4
argon2-cffi==20.1.0
arrow==1.1.0
asgiref==3.3.4
astor==0.8.1
async-generator==1.10
attrs==20.3.0
Babel==2.9.1
backcall==0.2.0
base58==2.1.0
binaryornot==0.4.4
bleach==3.3.0
blinker==1.4
bokeh==2.3.1
cachetools==4.2.2
certifi==2020.12.5
cffi==1.14.5
cfgv==3.2.0
chardet==4.0.0
click==7.1.2
colorama==0.4.4
commonmark==0.9.1
configparser==5.0.2
ConfigUpdater==2.0
cookiecutter==1.7.2
dataclasses==0.8
decorator==5.0.7
defusedxml==0.7.1
distlib==0.3.1
Django==3.2.1
docutils==0.16
entrypoints==0.3
fastapi==0.63.0
filelock==3.0.12
gitdb==4.0.7
GitPython==3.1.14
identify==2.2.4
idna==2.10
imagesize==1.2.0
importlib-metadata==4.0.1
importlib-resources==5.1.2
ipykernel==5.5.4
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi==0.18.0
Jinja2==2.11.3
jinja2-time==0.2.0
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
MarkupSafe==1.1.1
mistune==0.8.4
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
nodeenv==1.6.0
notebook==6.3.0
numpy==1.19.5
packaging==20.9
pandas==1.1.5
pandocfilters==1.4.3
parso==0.8.2
pickleshare==0.7.5
Pillow==8.2.0
plotly==4.14.3
pluggy==0.13.1
polars==0.7.12
poyo==0.5.0
pre-commit==2.12.1
prometheus-client==0.10.1
prompt-toolkit==3.0.18
protobuf==3.15.8
py==1.10.0
pyarrow==4.0.0
pycparser==2.20
pydantic==1.8.1
pydeck==0.6.2
Pygments==2.9.0
pyparsing==2.4.7
pyrsistent==0.17.3
PyScaffold==4.0.1
pyscaffoldext-cookiecutter==0.1
pyscaffoldext-custom-extension==0.6.2
pyscaffoldext-django==0.1.1
pyscaffoldext-dsproject==0.6.1
pyscaffoldext-markdown==0.4.1
pyscaffoldext-travis==0.3
python-dateutil==2.8.1
python-slugify==5.0.2
pytz==2021.1
pywebio==1.2.3
pywin32==300
pywinpty==1.0.1
PyYAML==5.4.1
pyzmq==22.0.3
recommonmark==0.7.1
requests==2.25.1
retrying==1.3.3
selenium==3.141.0
Send2Trash==1.5.0
setuptools-scm==6.0.1
six==1.16.0
smmap==4.0.0
snowballstemmer==2.1.0
Sphinx==3.5.4
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sqlparse==0.4.1
starlette==0.13.6
streamlit==0.81.1
terminado==0.9.4
testpath==0.4.4
text-unidecode==1.3
toml==0.10.2
tomlkit==0.7.0
toolz==0.11.1
tornado==6.1
tox==3.23.1
traitlets==4.3.3
typing-extensions==3.10.0.0
tzlocal==2.1
ua-parser==0.10.0
urllib3==1.26.4
user-agents==2.2.0
validators==0.18.2
virtualenv==20.4.6
watchdog==2.1.0
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
wincertstore==0.2
zipp==3.4.1
